<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ref="content">
    <ion-list  color="none" lines="none" *ngFor="let i of this.listChat">
      <div class="innermsg left" *ngIf="this.user.email !== i.sender">
        <img [src]="(this.user?.photoURL === null || this.user?.photoURL === undefined )
          ? '../../assets/images/avatar-default.jpg'
          : this.user.photoURL" alt="avatar" class="avatar" referrerpolicy="no-referrer" />
          {{i.message}}
      </div>
      <div class="innermsg right" *ngIf="this.user.email === i.sender">
        <img [src]="(this.user?.photoURL === null || this.user?.photoURL === undefined )
          ? '../../assets/images/avatar-default.jpg'
          : this.user.photoURL" alt="avatar" class="avatar" referrerpolicy="no-referrer" />
          {{i.message}}
      </div>
    </ion-list>
</ion-content>
<ion-footer id="prueba">
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="11">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="1">
        <ion-fab horizontal="center" vertical="center">
          <ion-fab-button size="small" (click)="sendMessage()">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
