.avatar {
  display: flex;
  align-items: center;
}

.img {
  background-color: grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.row {
  display: flex;
}

.message {
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #F1F0F0;
  align-self: center;
}

.left {
  justify-content: left;
  align-items: end;
  margin: 10px;
}

.right {
  justify-content: end;
  align-items: end;
  margin: 10px;
}

.message-border-left {
  border-bottom-left-radius: 0;
}

.message-border-right {
  border-bottom-right-radius: 0;
}

.time {
  color: grey;
  font-size: 10px;
}
