<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="settings-outline" size="small" [routerLink]="['/settings']" class="settings"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <img id="click-trigger" class="avatar" [src]="(this.user?.photoURL === null || this.user?.photoURL === undefined )
          ? '../../assets/images/avatar-default.jpg'
          : this.user.photoURL" alt="avatar" (click)="insertarAvatar()" />
      <ion-card-title>{{this.user?.displayName === null ? 'Anónimo' : this.user?.displayName }}</ion-card-title>
      <ion-card-subtitle>{{this.user?.email}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="logout()" fill="outline">Cerrar sesión</ion-button>
</ion-content>
