<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <div class="img-wrapper"> -->
      <div class="image">
        <img [src]="(this.user?.photoURL === null || this.user?.photoURL === undefined )
          ? '../../assets/images/avatar-default.jpg'
          : this.user.photoURL" alt="avatar" />
      </div>
      <ion-button color="light" (click)="this.insertarAvatar()">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
      <!-- </div> -->
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <h2>{{this.user?.displayName === null ? 'Anónimo' : this.user?.displayName }}</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <p>{{this.user?.email}}</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
