<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-content>
    <!-- <ion-list>
      <ion-item>
        <ion-label>asdasdsd</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-content>
